.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 24px;
    column-gap: 18px; /*Расстояние между столбцами*/
    row-gap: 40px;  /*Расстояние между строками*/
}
@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.thumbnail-row, .channel-picture, .video-author {
    cursor: pointer;
}

.thumbnail {
    width: 100%;
    border-radius: 10px;
}

.thumbnail-row {
    margin-bottom: 10px;
    position: relative;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 48px 1fr;
}

.profile-picture{
    width: 36px;
    border-radius: 50px;
}

.video-title {
    font-size: 18px;
    margin: 0 0 8px 0;
    font-weight: 500;
    line-height: 20px;  /* Расстояние между строками */
}

.video-author, .video-stats {
    font-size: 15px;
    color: #606060FF;
}

a.video-author {
    text-decoration: none;
}

.video-author {
    margin-bottom: 4px;
}

.video-time {
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 5px;
    border-radius: 3px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 7px;
}